<div class="card mb-2">
    <h2 class="card-header">{{title}}</h2>
    <div class="card-body">
        <p class="card-text">{{body}}</p>
            <p class="text-muted text-end">Posted by: {{user.name}} on {{format_date createdAt}}</p>
    </div>
</div>