{{> post-comment }}
<div class="mb-3">
  <label for="commentarea" class="form-label">Leave A Comment:</label>
  <textarea name="comment" class="form-control" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>